@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

footer,
nav{
  display: block;
}
									
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#content {
    font-family: 'Oswald', sans-serif;
    max-width: 1000px;
    margin: auto;
    background: rgb(0,0,0,0.7);
    text-align: center;
    color: aliceblue;
  }
	/* slide photo content ==========*/
  .carousel-inner img {
      -webkit-filter: grayscale(90%);
      filter: grayscale(20%); /* make all photos black and white */ 
      width: 100%; /* Set width to 100% */
      margin: auto;
      opacity: 0.6;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }
  .carousel-caption h3 {
      color: #fff !important;
	  font-size: 30px;
  }
  .carousel-caption p {
      color: #fff !important;
	  font-size: 25px;
  }
    @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }


	/* header Anubhav official page ==========*/	
header{
	background: #35424a;
	color: #ffffff;
	padding-top: 10px;
	border-bottom: #00cc00 3px solid;
	min-height: 110px;	
}  
header #branding{
	float:left;	
}

header #branding h1{
	margin: 0;
}
header .highlight , header {
	color: #00b300;
	font-weight: bold;
	
}


	/* first-letter color  ==========*/	
h1.h::first-letter {
	color: red;
	font-size: 60px;
}



	/* footer content ==========*/	
#footer {
		margin-bottom: 0;
		margin-top:730px;
		padding: 4rem 0 2rem 0 ;
		background: #002200;
		text-align: center;
	}
#footer .copyright {
		color: white;
		font-size: 17px;
		text-align: center;
	}

.footimage{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    margin-left:12px;
	margin-top:-50px;
	width:40px;
	height:40px;
}	


@media screen and (max-width:980px){
  #footer {
    margin-top:0px;
    margin-bottom: 0;
    padding: 4rem 0 2rem 0 ;
    background: #000;
    text-align: center;
  }
}
@media (min-width: 992px ) {
.container {
        width: 960px;
    }
}
@media (max-width: 992px) and (min-width: 768px) {
.container{
            width: 80%;
        }	
}		




@charset "UTF-8";

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.os-animation {
opacity: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


#our-story .wrap {
position: relative;
z-index: 1;
}

.wrap {
width: 85%;
margin: 0 auto;
max-width:740px;
}

.cf {
zoom: 1;
}

* {
box-sizing: border-box;
}

div {
display:block;
}

.clearfix:before , .cf:before {
content: "";
display:table;
}

.clearfix:after , .cf:after {
clear: both;
}

.clearfix:after , .cf:after {
content: "";
display:table;
}

.fadeIn {
  animation-name: fadeIn;
}


section{
display: block;
}

.full{
float:left;
width:100%;
}

.overflow-hidden {
overflow:hidden;
}

.section{
position:relative;
padding: 70px 0;
}
.m-all {
width: 100%;
}
.last-col {
float: right !important;
padding-right: 0 !important;
     
}
@media (max-width: 767px){
.m-all{float:left;padding-right:0.75em;width:100%;padding-right:0}
#visibilityHidden{visibility: hidden}
   #paraSize{
        font-size: 10px;
    }
}
@media (max-width: 1029px){
#visibilityHidden{visibility: hidden}
   #paraSize{
        font-size: 18px;
    }
}
@media (min-width: 768px) and (max-width: 1029px){
.t-1of2{float:left;padding-right:0.75em;width:100%}
}
@media (min-width: 1030px){
.d-1of2{float:left;padding-right:0.75em;width:50%}
}

#mythought {
    color: white;
    padding-left: 30%;
    width: 140%;
    height: auto;
    
}
#clgID {
    padding-left: 40%;
}
#footer {
    font-size: 1vw;
    text-align: center;
    color: white;
    background-image: url(image/woodbridge.jpg) !important;
    background-attachment: fixed;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
}

.big {
    font-size: 1.5em;
    line-height: normal;
    color: #9aed71;
}
.big1 {
    font-size: 1.5em;
    line-height: normal;
    color: white;
}
p {
    margin: 0;
	hyphens: none;
}
@media (max-width: 1029px){
    #clgID {
        padding-left: 30%;
    }
    #mythought {
        color: green;
        padding-left: 11%;
        width: 90%;
    }
    .big {
        color: darkgreen;
    }
    .big1 {
        color: maroon;
    }
}


@media (max-width: 767px){
    #clgID {
        padding-left: 25%;
    }
    #mythought {
        color: green;
        padding-left: 11%;
        width: 90%;
    }
    .big {
        color: darkgreen;
    }
    .big1 {
        color: maroon;
    }
}

@media (max-width: 567px){
    
    #clgID {
        padding-left: 20%;
    }
    #mythought {
        color: green;
        padding-left: 10%;
        width: 90%;
    }
    .big {
        color: darkgreen;
    }
    .big1 {
        color: maroon;
    }
    #paraSize{
        font-size: 14px;
    }
}
@media (max-width: 468px){
    #clgID {
        padding-left: 13%;
    }
    #mythought {
        color: green;
        padding-left: 15%;
        width: 90%;
        font-size: 0.9em;
    }
    .big {
        color: darkgreen;
    }
    .big1 {
        color: maroon;
    }
    #paraSize{
        font-size: 12px;
    }
}
@media (max-width: 400px){
    #clgID {
        padding-left: 3%;
    }
    #mythought {
        color: green;
        padding-left: 17%;
        width: 90%;
        font-size: 0.8em;
    }
    #mythought h1 {
        font-size: 30px;
    }
    .big {
        color: darkgreen;
    }
    .big1 {
        color: maroon;
    }
    #paraSize{
        font-size: 12px;
    }
}
@media (max-width: 368px){
    #clgID {
        padding-left: 1%;
    }
    #mythought {
       
        color: green;
        padding-left: 20%;
        width: 90%;
        font-size: 0.7em;
    }
    .big {
        color: darkgreen;
    }
    .big1 {
        color: maroon;
    }
    #paraSize{
        font-size: 10px;
    }
}

#our-story .section-bg {
    background-position: 20% center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 100%;
    display: none;
}



@media only screen and (min-width: 768px) {
#our-story .section-bg {
    display: block;
    width: 100%;
}
}
@media (min-width: 992px ) {
 #our-story .section-bg {
         width: 960px;
        }
}
@media (max-width: 1029px) and (min-width: 768px) {
#our-story .section-bg {
            width: 50%;
        }
}		

.section .section-bg {
	transform: translateZ(0);
}
@media only screen and (min-width: 1030px){
#our-story .section-bg:before {
    display: none;
}
}
@media only screen and (min-width: 1024px){
#our-story .section-bg:before {
    width: 130%;
    right: -300px;
}
}
@media only screen and (min-width: 1800px){
#our-story .section-bg figure{background-size:auto 120%;background-position:top left}	
}
@media only screen and (min-width: 768px){
#our-story .section-bg:before {
    width: 100%;
    right: 0%;
}
}

#our-story .section-bg:before {
    right: -400px;
    left: auto;
    width: 130%;
}

.section .section-bg:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 85%;
    height: 100%;
    z-index: 1;
	transform: translateZ(0);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, #fff 50%, #fff 100%);
}

.section .section-bg figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
figure {
	margin:0;
	display: block;
}

#bgContent {
    font-size: 1vw;
    text-align: center;
    color: white;
    background-image: url(image/katsuraRiverJapan.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width: 1029px) and (min-width: 368px) {
    #bgContent {
        font-size: 1vw;
        text-align: center;
        color: white;
        background-image: url(image/dataserver.jpg);
        background-attachment: fixed;
        background-size: contain;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
a {
    color: #04b7ae;
    transition: color .1s linear;
}

#return-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: white;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: red;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
